// Global Variables

// Primary

$primaryOrange: hsl(26, 100%, 55%);
$paleOrange: hsl(22, 100%, 94%);

// Neutral
$vDarkBlue: hsl(220, 13%, 13%);
$darkGreyBlue: hsl(219, 9%, 45%);
$greyBlue: hsl(220, 14%, 75%);
$lightGreyBlue: hsl(223, 64%, 98%);
$white: hsl(255,0%,100%);
$black: hsl(0,0%, 0%);

//








header{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    border-bottom: $textGrey solid 1px;
    padding-bottom: 35px;

    .logo{
        margin-right: 20px;
    }

    .nav{
        display: flex;
        gap: 5%;

        a{
            color: $textGrey;
            text-decoration: none;
        }
    }

    .icons{
        margin-left:auto;
        display:flex;
        align-items:center;
        gap: 40px;
    }

    .avatar img{
        width:50px;
    }
}


//====== Main =========//


main {
    height: 200vh;
    background-color: #333;
    background-color: pink; 
    
}