// Global Variables

// Primary

$primaryOrange: hsl(26, 100%, 55%);
$paleOrange: hsl(22, 100%, 94%);



// Neutral
$vDarkBlue: hsl(220, 13%, 13%);
$darkGreyBlue: hsl(219, 9%, 45%);
$greyBlue: hsl(220, 14%, 75%);
$lightGreyBlue: hsl(223, 64%, 98%);
$white: hsl(255,0%,100%);
$black: hsl(0,0%, 0%);

//Fonts

/* kumbh-sans-regular - latin */
@font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/kumbh-sans-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/kumbh-sans-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* kumbh-sans-700 - latin */
  @font-face {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('/assets/fonts/kumbh-sans-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/assets/fonts/kumbh-sans-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

    $fontPrimary: 'Kumbh Sans', sans-serif;


//resets

*, *::before, *::after {
     box-sizing: border-box;
}
body{
    margin:0;
}


.page-wrapper{
    max-width: 1440px;
    margin:auto;
}



header{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    color: $darkGreyBlue;
    border-bottom: #ebebee solid 2px;

    padding: 3% 0;
    margin: auto 12.5%;
    font-family: $fontPrimary;
    font-weight: 400;

    .logo{
        margin-right: 3%;

        img{
            height: 22px
        }
    }

    .nav{
        display: flex;
        gap: 12.5%;

        a{
            color: inherit;
            text-decoration: none;
            font-family: inherit;
            font-weight: inherit;
        }
        a:hover{
            color: $vDarkBlue;
        }
    }

    .icons{
        margin-left:auto;
        display:flex;
        align-items:center;
        gap: 40px;
    }

    .avatar img{
        width:50px;
        height:50px;
        border-radius:50%;

        border:2px solid $white;
        transition:border 0.2s ease-in-out,
                transform 0.3s ease-in-out ;

    }
    .avatar img:hover{
        //outline:2px solid $primaryOrange;
        border:2px solid $primaryOrange;
        transform: scale(1.2);
        
    }
}


//====== Main =========//


main {
    height: 200vh;
    
}