/* Error: expected "{".
 *    ,
 * 86 |     background-color: pink; 
 *    |                           ^
 *    '
 *   assets/scss/main.scss 86:27  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 86 \2502      background-color: pink; \a    \2502                            ^\a    \2575 \a   assets/scss/main.scss 86:27  root stylesheet';
}
